<div class="ui small teal inverted menu">
    <div class="ui container">
        <%= link_to "ChatFrameh", root_path, class: "item" %>
        <a class="item">
          Mensagens
        </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Conta <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Sair</a>
              <a class="item">Entrar</a>
              <a class="item">Registe-se</a>
            </div>
          </div>
          <div class="item">
              <div class="ui teal button">Registe-se</div>
          </div>
        </div>
    </div>
</div>