<div class="ui small teal inverted menu">
    <div class="ui container">
        <%= link_to "ChatFrameh", root_path, class: "item" %>
        <a class="item">
          Mensagens
        </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Conta <i class="dropdown icon"></i>
            <div class="menu">
              <% if logged_in? %>
                <%= link_to "Sair", logout_path, method: :delete, class: "item" %>  
              <% else %>
                <%= link_to "Entrar", login_path, class: "item" %>
              <% end %>
            </div>
          </div>
          <% if !logged_in? %>
            <div class="item">
                <%= link_to "Registe-se", login_path, class: "ui teal button" %>
            </div>
          <% end %>
        </div>
    </div>
</div>