<% flash.each do |message_type, message_content| %>
    <div id="flash" class="ui <%= message_type %> message transition">
        <i class="close icon"></i>
        <div class="header">
            <%= message_content %> <%= current_user&.username %>
        </div>
    </div>
<% end %>